.env
.docker-compose.yml 
tapamajuma-app/.env
tapamajuma-app/.env
tapamajuma-app/.env
tapamajuma-app/.env.development
# Golang
/tapamajuma-logger/tapamajuma-logger
/tapamajuma-logger/.env
/node_modules
